<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GoogleSearch" parallel="tests" thread-count="3">

    <test name="Google Search in Chrome">
        <classes>
            <class name="com.localhost.login.runners.TestNGRunner" />
        </classes>
    </test>
</suite>
